doctype	html
html
	head
		title=	title
		
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		
		link(rel='stylesheet',	href='/stylesheets/style.css')
		style.
			.row{
				margin-bottom: 15px;
			}
	
	
	body
		.container
			include ./navbar.jade
			block content