doctype	html
html
	head
		title=	title
		link(rel='stylesheet',	href='/stylesheets/style.css')
		style.
			.row{
				margin-bottom: 15px;
			}
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	body
		.container
			.page-header
				h1 
					i.fa.fa-users  Friend Along
			block content