extends layout

block content
	.col-md-6.col-md-offset-3
		form.form(action="signup",method="post")
			h2 Please Sign Up
				small  It's free and always will be.
			.row
				.col-md-6
					input.form-control(name='first-name', type='text', placeholder='First Name')
				.col-md-6
					input.form-control(name='last-name', type='text', placeholder='Last Name')
			.form-group
				input.form-control(name='email', type='email', placeholder='Email Address')
			.row
				.col-md-6
					input.form-control(name='password', type='password', placeholder='Password')
				.col-md-6
					input.form-control(name='confirm-password', type='password', placeholder='Confirm Password')
			.row
				.col-md-6
					button.btn.btn-primary.btn-block.btn-lg Sign Up
				.col-md-6
					a.btn.btn-success.btn-block.btn-lg(href='/login') Sign In
			//
				.row
					+inputSection('username','text')
					+inputSection('password','password')
					+inputSection('firstName','text')
					+inputSection('lastName','text')
					+inputSection('email','text')
				.row
					.col-md-12
						input.btn.btn-primary(type="submit", value="submit")

mixin inputSection(name,type)
	.col-md-3
		span=name
		input.form-control(name=name,type=type)